@import "../node_modules/bootstrap/scss/bootstrap";
@import "./font.scss";
@import "./util.scss";
@import "./geometry.scss";
@import "./animate.scss";

:root {
    --main-bg-color: black;
    --card-bg-color: #2f4f4f;
    --main-text-color: white;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: sans-serif;
}

///////////////////////////////////////////////////
///                 Private                     ///
///////////////////////////////////////////////////

// home cover
.home-cover {
    background-color: var(--main-bg-color);
    @extend .at-least-full-page;
}

.home-cover .main-title {
    @extend .d-flex;
    @extend .title-text-extreme-large;
    @extend .text-bold;
}

.home-cover .tail {
    @extend .d-flex;
    @extend .flex-column;
    @extend .align-items-end;
    @extend .justify-content-end;
}

.home-cover .cover-img {
    z-index: $zindex-fixed;
}

// navbar
#navbar {
    transition: border-radius 0.3s ease-in-out;
}

.navbar-btn {
    transition: color 0.3s ease-in-out;

    @extend .btn;
    @extend .fs-4;
    @extend .text-bold;
}

// font animation
.navbar-btn:hover {
    color: $blue-400;
}

// about
.about {
    @extend .at-least-full-page;
}

.about-card {
    overflow: hidden;
    margin: auto; // 添加这个使得 .about-card 在其父元素中居中
    max-width: 60vw;

    @extend .p-0;
    @extend .d-flex;
    @extend .wrap-align-center;
    @extend .card;
    @extend .rounded-5;
}

.img-fluid {
    object-fit: cover; /* 覆盖容器，保持宽高比 */
    width: 100%; /* 宽度适应容器 */
    height: 100%; /* 高度适应容器 */
}

// experience
.experience {
    @extend .at-least-full-page;
}

// contact
.contact {
    @extend .at-least-full-page;
}

// pcb display
.pcb-canvas {
    color: var(--main-font-color);
    min-height: 65vh;
}